# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# IIS Express
.IISExpress/

# Dotnet files
*.dll
*.exe
*.pdb
*.cache
*.log

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
.nuget/

# VS Code
.vscode/
